.bg-grey {
  background-color: #e6ecf0;
}

.bg-blue {
  background-color: #1da1f2;
}

.color-blue {
  color: #1da1f2;
}

#root,
.app {
  height: 100%;
}

.navbar {
  color: #ffffff;
}

.navbar-brand {
  font-weight: bold;
}

.tweet-box {
  padding-top: 1em;
}

.tweet-box-btn {
  cursor: pointer;
}

.tweet-box-btn:disabled {
  cursor: not-allowed;
}

.tweets-list {
  margin-top: 2em;
}

.tweets-list-item .media > img {
  width: 30px;
}

.side-bar {
  background-color: #ffffff;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.side-bar.card {
  height: 20em;
}

.user-avatar {
  width: 8em;
  margin: auto;
  display: block;
}
